# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/
storybook-static/

# Turborepo
.turbo/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Editor
.vscode/settings.json
.idea/

# pnpm
.pnpm-store/


.agent
